[Unit]
Description=Prometheus Redis Exporter
After=redis-server.service

[Service]
Type=simple
ExecStart=/usr/local/bin/redis_exporter --redis.addr=redis://localhost:6379
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
